<p><%= link_to "Create a Group", new_group_path %> </p>
<h5> 

    Groups:

</h5>

<ul>

    <% @groups.each do |group| %>
        <li><%= render partial: "group", locals: {group: group}%></li>
        <br>
    <% end %>

</ul>