<h1>Activist Network: Groups</h1>

<h3> 

    <%= link_to "Create a Group", new_group_path %>

</h3>

<ul>

    <% @groups.each do |group| %>
        <li><%= render partial: "group", locals: {group: group}%></li>
        <br>
    <% end %>

</ul>